<h4>予約済みルーム一覧</h4>
<table>
  <thead>
    <tr align= "center">
      <th>ルーム画像</th>
      <th>ルーム名</th>
      <th>ルーム紹介</th>
      <th>料金</th>
      <th>作成日</th>
    </tr>

    <tbody>
		  <% @rooms.each do |room| %>
			  <tr>
					<td class="post-image"><%= image_tag "#{room.image.url}" %></td>
					<td class="post-name"><%= room.name %></td>
					<td class="post-content"><%= room.introduction %></td>
					<td class="post-price"><%= room.price %>円</td>
					<td class="post-start-date"><%= room.created_at %></td>
				</tr>
			<% end %>
    </tbody>
  </thead>
</table>
